.selectModelView{
    margin-right: 80px;
}

.selectModelView h1{
    font-size: 30px;
}

.selectModelView .col.title h1{
    padding-left: 30%;
}

.selectModelView .row .col.selectLeadType{
    padding-left: 12.3%;
}