.selectModelView{
    margin-right: 25px;
}

.selectModelView h1{
    font-size: 30px;
}

.selectModelView .col.title h1{
    padding-left: 30%;
}

.selectModelView .row .col.selectLeadType{
    padding-top: 20px;
    padding-left: calc(50% - 175px);
}

.selectModelView .row .col.selectLeadType button{
    width: 120px;
}

.selectModelView .row .col.selectLeadType button.selected{
    background-color: #32cd32;
}

.selectModelView .row ion-scroll{
    border: 1px solid #9e9e9e;
}

.selectModelView .row ion-scroll .tableRow{
    height: 30px;
    border-bottom: 1px solid black;
    font-size: 19px;
}

.selectModelView .row ion-scroll .tableRow.selected{
    background-color: #91de2f;
}

.selectModelView .row ion-scroll .tableRow icon{
    color:green;
    padding-left: 5px;
    font-size: 19px;
}

.selectModelView .row ion-scroll .tableRow label{
    padding-left:5px;
}

.selectModelView .scrollTitle .col{
    text-align: center;
}

.selectModelView .scrollTitle .col span{
    font-size: 16px;
    font-weight: bold;
}

.selectModelView .row .col.info{
    padding-top:18px;
    text-align: center;
    margin-left:-50px;
    margin-right: -50px;
}

.selectModelView .row .col.version{
    padding-top:18px;
    text-align: right;
}

.selectModelView .buttonNext{
    float:right;
}