.selectModelView{
    margin-right: 80px;
}

.selectModelView h1{
    font-size: 30px;
}

.selectModelView .col.title h1{
    padding-left: 30%;
}

.selectModelView .row .col.selectLeadType{
    padding-top: 20px;
    padding-left: calc(50% - 175px);
}

.selectModelView .row .col.selectLeadType button{
    width: 120px;
}

.selectModelView .row ion-scroll .tableRow{
    height: 30px;
    border-bottom: 1px solid black;
}

.selectModelView .row ion-scroll .tableRow.selected{
    background-color: #00ff91;
}

.selectModelView .row .col.info{
    padding-top:18px;
    padding-left: 165px;
}

.selectModelView .row .col.version{
    padding-top:18px;
    padding-left: 145px;
}