/* Empty. Add your own CSS if you like */

h1{
    font-size: 1.2rem;
}

/*Container for all contents */
.wrapper{
    margin-left: 5vw;
    margin-right: 5vw;
}


/*Brand Selection*/
.selectBrandContainer{
    width:80vw;
}

.selectBrandContainer h1{
    float:left;
}

.selectBrandContainer .selectBrand{
    margin-top: 30px;
    margin-left: 10vw;
}

/*Hostesse Selection*/
.selectHostLanguageContainer{
    margin-top:30px;
    margin-right: calc(50% - 160px);
}

.selectHostLanguageContainer .selectHostLanguage{
    margin-top: -50px;
    float:right;
}

/*Campaign Selection*/
.selectCampaignContainer{
    margin-top:30px;
}

