/* Empty. Add your own CSS if you like */

h1{
    font-size: 1.2rem;
}

/*Container for all contents */
.wrapper{
    margin-top:5vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

/*Brand Selection*/
.selectBrandContainer{
    width:80vw;
}

.selectBrandContainer h1{
    margin-bottom: -25px;
}

.selectBrandContainer .selectBrand{
    margin-top: 30px;
    margin-left: 10vw;
}

/*Hostesse Selection*/
.selectHostLanguageContainer{
    margin-top:30px;
    margin-right: calc(50% - 160px);
}

.selectHostLanguageContainer .selectHostLanguage{
    margin-top: -50px;
    float:right;
}

/*Campaign Selection*/
.selectCampaignContainer{
    margin-top:30px;
    margin-right: calc(50% - 160px);
}

.selectCampaignContainer h1{
    float:left;
}

.selectCampaignContainer .selectCampaign{
    float:right;
    width: 375px;
}

/*User Selection*/
.selectUserContainer{
    margin-top: 80px;
    margin-right: calc(50% - 155px);
}

.selectUserContainer h1{
    float:left;
}

.selectUserContainer .selectUser{
    float:right;
    width: 370px;
}

.optionList{
    position:absolute;
    width:100%;
    z-index:100;
    /* height:200px;*/
}

.ui-select-match{
    height: 0px;
}