select-brand .row .col{
    border: 6px solid #ffffff;
    text-align: center;
}

select-brand .row .col img{
    height: 90px;
}

select-brand .row .col.vw.selected{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 6px solid #1e90ff;
}

select-brand .row .col.audi.selected{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 6px solid #ff0000;
}

select-brand .row .col.skoda.selected{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 6px solid #32cd32;
}

select-brand .row .col.seat.selected{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 6px solid #8b0000;
}

select-brand .row .col.vwnf.selected{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 6px solid #1e90ff;
}
