<ion-view view-title="CustomerForm">
    <ion-content class="padding" scroll="false">

        <div class="customerForm">
            <div class="row">
                <div class="col">
                    <button class="button button-energized" ng-click="goBack()">
                        <icon class="ion-chevron-left"></icon>
                        {{'GLOBAL_BUTTON_BACK' | translate}}
                    </button>
                </div>
                <div class="col title">
                    <h1>
                        {{'CUSTOMERFORM_TITLE' | translate}}
                    </h1>
                </div>
                <div class="col">
                    <button class="button button-assertive right" ng-click="resetForm()">
                        {{'CUSTOMERFORM_BUTTON_RESET_FORM' | translate}}
                        <icon class="ion-ios-close"></icon>
                    </button>
                </div>
            </div>

            <div class="form">
                <div class="row">
                    <div class="col">
                        <div class="input-form">
                            <ion-scroll class="input-form-scroll" zooming="false" direction="y">
                                <div class="row">
                                    <div class="col">
                                        <button class="button button-royal btn-refresh" ng-click="goBack()">
                                            <icon class="ion-refresh"></icon>
                                            {{'CUSTOMERFORM_BUTTON_REFRESH_CUTOMERDATA' | translate}}
                                        </button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="catalogTyp">
                                            <h4 class="checkbox-label">Katalog</h4>
                                            <div class="radios">
                                                <ion-radio id="radioElectronic" name="catalogTyp"
                                                           ng-model="data.catalogTyp" ng-value="'electronic'">
                                                    {{'CUSTOMERFORM_RADIO_CATALOG_ELECTRO' | translate}}
                                                </ion-radio>
                                                <ion-radio id="radioPrinted" name="catalogTyp"
                                                           ng-model="data.catalogTyp" ng-value="'printed'">
                                                    {{'CUSTOMERFORM_RADIO_CATALOG_PRINTED' | translate}}
                                                </ion-radio>
                                            </div>
                                        </div>

                                        <div class="salutation">
                                            <h4 class="checkbox-label">Ansprache</h4>
                                            <div class="radios">
                                                <ion-radio id="salutationM" name="salutation" ng-model="data.salutation"
                                                           ng-value="'m'" ng-click="selectSalutation('m');">
                                                    {{'CUSTOMERFORM_RADIO_SALUTATION_M' | translate}}
                                                </ion-radio>
                                                <ion-radio id="salutationF" name="salutation" ng-model="data.salutation"
                                                           ng-value="'f'" ng-click="selectSalutation('f');">
                                                    {{'CUSTOMERFORM_RADIO_SALUTATION_F' | translate}}
                                                </ion-radio>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col">
                                        <div class="leadInfo">
                                            <ion-scroll zooming="false" direction="y">
                                                Testdrive:<!--TODO Selected Typ-->
                                                <br>
                                                <span>A3A3A3A3A3A3A3A3A3A3A3A3</span>
                                                <span>A3A3A3A3A3A3A3A3A3A3A3A3</span>
                                                <span>A3A3A3A3A3A3A3A3A3A3A3A3</span>
                                                <span>A3A3A3AA3A3A3</span>
                                                <span>A3A3A3</span>
                                                <span>A3A3A3A3A3A3A3A3A3A3A3A3</span>
                                                <span>A3A3A3A3A3A3A3A3A3A3A3A3</span>
                                                <span>A3A3A3A3A3A3A3A3A3A3A3A3</span>
                                                <span>A3A3A3A3A3A3A3A3A3A3A3A3</span>
                                                <span>A3A3A3AA3A3</span>
                                                <span>A3A3A3A3A3A3A3A3A3A3A3A3</span>
                                                <span>A3A3A3A3A3A3A3A3A3A3A3A3</span>
                                                <span>A3A3A3A3A3A3A3A3A3A3A3A3</span>
                                                <span>A3A3A3A3A3A3A3A3A3A3A3A3</span>
                                                <span>A3A3A3AA3A3A3A3A3</span>
                                                <span>A3A3A3A3A3A3A3A3A3A3A3A3</span>
                                                <span>A3A3A3A3A3A3A3A3A3A3</span>
                                                <span>A3A3A3A3A3A3A3A3A3A3A3A3</span>
                                                <span>A3A3A3A3A3A3A3A3A3A3A3A3</span>
                                                <span>A3A3A3A3A3A3A3</span>
                                                <span>A3A3A3A3A3A3A3A3A3A3A3A3</span>
                                                <span>A3A3A3A3A3A3A3A3A3A3A3A3</span>
                                            </ion-scroll>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <input id="firstname"
                                               type="text" class="custom-input firstname"
                                               placeholder="{{'CUSTOMERFORM_PLACEHOLDER_FIRSTNAME'|translate}}"
                                               ng-model="data.firstname" maxlength="49">
                                    </div>
                                    <div class="col">
                                        <input id="lastname"
                                               type="text" class="custom-input lastname"
                                               placeholder="{{'CUSTOMERFORM_PLACEHOLDER_LASTNAME'|translate}}"
                                               ng-model="data.lastname" maxlength="49">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <input id="firm"
                                               type="text" class="custom-input firm"
                                               placeholder="{{'CUSTOMERFORM_PLACEHOLDER_FIRM'|translate}}"
                                               ng-model="data.firm" maxlength="249">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-75">
                                        <input id="street"
                                               type="text" class="custom-input street"
                                               placeholder="{{'CUSTOMERFORM_PLACEHOLDER_STREET'|translate}}"
                                               ng-model="data.street" maxlength="499">
                                    </div>
                                    <div class="col col-25">
                                        <input id="streetNr"
                                               type="text" class="custom-input streetNr"
                                               placeholder="{{'CUSTOMERFORM_PLACEHOLDER_STREETNR'|translate}}"
                                               ng-model="data.streetNr" maxlength="9">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-25">
                                        <input id="zip"
                                               type="text" class="custom-input zip"
                                               placeholder="{{'CUSTOMERFORM_PLACEHOLDER_ZIP'|translate}}"
                                               ng-model="data.zip" maxlength="15">
                                    </div>
                                    <div class="col col-75">
                                        <input id="city"
                                               type="text" class="custom-input city"
                                               placeholder="{{'CUSTOMERFORM_PLACEHOLDER_CITY'|translate}}"
                                               ng-model="data.city" maxlength="49">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-10">
                                        Land:
                                    </div>
                                    <div class="col col-90">
                                        <select id="country" ng-model="data.country" ng-disabled="ui.mode === 'swiss'">
                                            <option value="">Bitte Auswählen</option>
                                            <option ng-repeat="item in ui.countryList" value="{{item}}">{{item}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <input id="phone"
                                               type="text" class="custom-input phone"
                                               placeholder="{{'CUSTOMERFORM_PLACEHOLDER_PHONE'|translate}}"
                                               ng-model="data.phone" maxlength="49">
                                    </div>
                                    <div class="col">
                                        <input id="email"
                                               type="text" class="custom-input email"
                                               placeholder="{{'CUSTOMERFORM_PLACEHOLDER_EMAIL'|translate}}"
                                               ng-model="data.email" maxlength="254">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-20">
                                        Wunsch Händler:
                                    </div>
                                    <div class="col col-80">
                                        <select id="seller" ng-model="data.seller">
                                            <option value="">Bitte Auswählen</option>
                                            <option ng-repeat="item in ui.sellerList" value="{{item.code}}">{{item.label}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="remarks">
                                            <textarea id="remarks"
                                                      class="remarks-ta" ng-model="data.remarks"
                                                      placeholder="Bemerkungen" maxlength="999"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-25">
                                        {{'CUSTOMERFORM_LABEL_PRIVACY' | translate}}:
                                    </div>
                                    <div class="col col-75">
                                        <input type="checkbox" id="privacy" name="privacy" ng-model="data.privacy"
                                               value="">
                                        <label id="privacyLabel" for="privacy">{{'CUSTOMERFORM_LABEL_PRIVACY_TEXT' | translate}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-25">
                                        {{'CUSTOMERFORM_LABEL_NEWSLETTER' | translate}}:
                                    </div>
                                    <div class="col col-75">
                                        <input type="checkbox" id="newsletter" name="newsletter"
                                               ng-model="data.newsletter" value="">
                                        <label for="newsletter">{{'CUSTOMERFORM_LABEL_NEWSLETTER_TEXT' |
                                            translate}}</label>
                                    </div>
                                </div>
                            </ion-scroll>
                            <div class="row">
                                <div class="col col-75"></div>
                                <div class="col col-25">
                                    <button class="button button-positive right submit" ng-click="submitLead()">
                                        {{'CUSTOMERFORM_BUTTON_SUBMIT' | translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row footerBar">
                <div class="col home">
                    <button class="button button-default" ng-click="goToHomePage()">
                        <icon class="ion-ios-home"></icon>
                        {{'GLOBAL_BUTTON_HOME' | translate}}
                    </button>
                </div>
                <div class="col info">
                    {{ui.campaign.label}} - {{ui.brand.toUpperCase()}} - {{ui.person.name}} {{ui.person.surname}}
                </div>
                <div class="col version">
                    {{'GLOBAL_APP_VERSION' | translate}}: {{appVersion}}
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>