<ion-view view-title="CustomerForm">
    <ion-content class="padding" scroll="false">

        <div class="customerForm">
            <div class="row">
                <div class="col">
                    <button class="button button-energized" ng-click="goBack()">
                        <icon class="ion-chevron-left"></icon>
                        {{'GLOBAL_BUTTON_BACK' | translate}}
                    </button>
                </div>
                <div class="col title">
                    <h1>
                        {{'CUSTOMERFORM_TITLE' | translate}}
                    </h1>
                </div>
                <div class="col">
                    <button class="button button-assertive right" ng-click="resetForm()">
                        {{'CUSTOMERFORM_BUTTON_RESET_FORM' | translate}}
                        <icon class="ion-ios-close"></icon>
                    </button>
                </div>
            </div>

            <div class="form">
                <div class="row">
                    <div class="col">
                        <div class="input-form">
                            <ion-scroll class="input-form-scroll" zooming="false" direction="y">
                                <div class="row">
                                    <div class="col">
                                        <button class="button button-royal btn-refresh" ng-click="goToSearch()" ng-show="ui.mode === 'swiss'">
                                            <icon class="ion-refresh"></icon>
                                            {{'CUSTOMERFORM_BUTTON_REFRESH_CUTOMERDATA' | translate}}
                                        </button>
                                        <button class="button button-royal btn-refresh" ng-click="goToSwissLead()" ng-show="ui.mode === 'foreign'">
                                            <icon class="ion-refresh"></icon>
                                            {{'CUSTOMERFORM_BUTTON_TO_SWISS_LEAD' | translate}}
                                        </button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="catalogTyp" ng-show="ui.brochure == true">
                                            <h4 class="checkbox-label">{{'CUSTOMERFORM_RADIO_CATALOG_LABEL' | translate}}</h4>
                                            <div class="radios">
                                                <ion-radio id="radioElectronic" name="catalogTyp"
                                                           ng-model="data.catalogTyp" ng-value="'electronic'">
                                                    {{'CUSTOMERFORM_RADIO_CATALOG_ELECTRO' | translate}}
                                                </ion-radio>
                                                <ion-radio id="radioPrinted" name="catalogTyp"
                                                           ng-model="data.catalogTyp" ng-value="'printed'">
                                                    {{'CUSTOMERFORM_RADIO_CATALOG_PRINTED' | translate}}
                                                </ion-radio>
                                            </div>
                                        </div>

                                        <div class="salutation">
                                            <h4 class="checkbox-label">{{'CUSTOMERFORM_RADIO_SALUTATION_LABEL' | translate}}</h4>
                                            <div class="radios">
                                                <ion-radio id="salutationM" name="salutation" ng-model="data.salutation"
                                                           ng-value="'m'" ng-click="selectSalutation('m');">
                                                    {{'CUSTOMERFORM_RADIO_SALUTATION_M' | translate}}
                                                </ion-radio>
                                                <ion-radio id="salutationF" name="salutation" ng-model="data.salutation"
                                                           ng-value="'f'" ng-click="selectSalutation('f');">
                                                    {{'CUSTOMERFORM_RADIO_SALUTATION_F' | translate}}
                                                </ion-radio>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col">
                                        <div class="leadInfo">
                                            <ion-scroll zooming="false" direction="y">

                                                <span class="header-detail-scroll">{{'CUSTOMERFORM_SCROLL_DETAIL_LEADTYPE' | translate}}: </span>
                                                <span class="text-detail-scroll" ng-show="ui.testdrive">{{'SELECTMODEL_CHECKFIELD_TESTDRIVE' | translate}} </span>
                                                <span class="text-detail-scroll" ng-show="ui.brochure">{{'SELECTMODEL_CHECKFIELD_CATALOG' | translate}} </span>
                                                <span class="text-detail-scroll" ng-show="ui.offer">{{'SELECTMODEL_CHECKFIELD_OFFER' | translate}} </span>
                                                <br>

                                                <div style="word-break: normal" ng-show="ui.leadCarList.length > 0">
                                                    <span class="header-detail-scroll">{{'CUSTOMERFORM_SCROLL_DETAIL_MODELS' | translate}}: </span>
                                                    <span class="text-detail-scroll" ng-repeat="item in ui.leadCarList">{{item["label_"+ui.language]}}{{$last?'':','}} </span>
                                                </div>
                                                <div style="word-break: normal" ng-show="ui.leadAccessoryList.length > 0">
                                                    <span class="header-detail-scroll">{{'CUSTOMERFORM_SCROLL_DETAIL_ACCESSORIES' | translate}}: </span>
                                                    <span class="text-detail-scroll" ng-repeat="item in ui.leadAccessoryList">{{item["label_"+ui.language]}}{{$last?'':','}} </span>
                                                </div>

                                                <span class="header-detail-scroll">{{'CUSTOMERFORM_SCROLL_DETAIL_COR_LANG' | translate}}:</span>
                                                <span>{{ui.corLanguage.toUpperCase()}}</span>


                                            </ion-scroll>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <input id="firstname"
                                               type="text" class="custom-input firstname"
                                               placeholder="{{'CUSTOMERFORM_PLACEHOLDER_FIRSTNAME'|translate}} *"
                                               ng-model="data.firstname" maxlength="49">
                                    </div>
                                    <div class="col">
                                        <input id="lastname"
                                               type="text" class="custom-input lastname"
                                               placeholder="{{'CUSTOMERFORM_PLACEHOLDER_LASTNAME'|translate}} *"
                                               ng-model="data.lastname" maxlength="49">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <input id="firm"
                                               type="text" class="custom-input firm"
                                               placeholder="{{'CUSTOMERFORM_PLACEHOLDER_FIRM'|translate}}"
                                               ng-model="data.firm" maxlength="249">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-75">
                                        <input id="street"
                                               type="text" class="custom-input street"
                                               placeholder="{{'CUSTOMERFORM_PLACEHOLDER_STREET'|translate}} *"
                                               ng-model="data.street" maxlength="499">
                                    </div>
                                    <div class="col col-25">
                                        <input id="streetNr"
                                               type="text" class="custom-input streetNr"
                                               placeholder="{{'CUSTOMERFORM_PLACEHOLDER_STREETNR'|translate}} *"
                                               ng-model="data.streetNr" maxlength="9">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-25">
                                        <input id="zip"
                                               type="text" class="custom-input zip"
                                               placeholder="{{'CUSTOMERFORM_PLACEHOLDER_ZIP'|translate}} *"
                                               ng-model="data.zip" maxlength="{{ui.mode == 'swiss' ? 4 : 15}}">
                                    </div>
                                    <div class="col col-75">
                                        <input id="city"
                                               type="text" class="custom-input city"
                                               placeholder="{{'CUSTOMERFORM_PLACEHOLDER_CITY'|translate}} *"
                                               ng-model="data.city" maxlength="49">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-10">
                                        Land:
                                    </div>
                                    <div class="col col-90">
                                        <select id="country" ng-model="data.country" ng-disabled="ui.mode === 'swiss'">
                                            <option value="">{{'GLOBAL_BUTTON_PLEASE_CHOOSE' | translate}} *</option>
                                            <option ng-repeat="item in ui.countryList" value="{{item}}">{{item}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <input id="phone"
                                               type="text" class="custom-input phone"
                                               placeholder="{{'CUSTOMERFORM_PLACEHOLDER_PHONE'|translate}} {{ui.testdrive ? '*' : ''}}"
                                               ng-model="data.phone" maxlength="49">
                                    </div>
                                    <div class="col">
                                        <input id="email"
                                               type="text" class="custom-input email"
                                               placeholder="{{'CUSTOMERFORM_PLACEHOLDER_EMAIL'|translate}} {{data.catalogTyp == 'electronic' ? '*' : ''}}"
                                               ng-model="data.email" maxlength="254">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-20">
                                        {{'CUSTOMERFORM_PLACEHOLDER_SELLER' | translate}}:
                                    </div>
                                    <div class="col col-80">
                                        <div class="dealer-select-btn" onclick="$('#popup_dealerSearch').addClass('active');">
                                            <span ng-if="data.dealer == '' || data.dealer == undefined">{{'GLOBAL_BUTTON_PLEASE_CHOOSE' | translate}}</span>
                                            <span ng-if="data.dealer != '' && data.dealer != undefined">{{data.dealer.dealername}}</span>
                                        </div>
                                        <!-- <select id="seller" ng-model="data.seller" >
                                             <option value="">{{'GLOBAL_BUTTON_PLEASE_CHOOSE' | translate}}</option>
                                             <option ng-repeat="item in ui.dealerList | orderBy:'dealername'" value="{{item.dealername}}">{{item.dealername}}</option>
                                         </select>-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="remarks">
                                            <textarea id="remarks"
                                                      class="remarks-ta"
                                                      ng-model="data.remarks"
                                                      placeholder="{{'CUSTOMERFORM_PLACEHOLDER_REMARKS' | translate}}" maxlength="999"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-25">
                                        <a onclick="$('#popup_agb').addClass('active');">{{'CUSTOMERFORM_LABEL_PRIVACY' | translate}}*:</a>
                                    </div>
                                    <div class="col col-75">
                                        <input type="checkbox" id="privacy" name="privacy" ng-model="data.privacy"
                                               value="">
                                        <label id="privacyLabel" for="privacy">{{'CUSTOMERFORM_LABEL_PRIVACY_TEXT' | translate}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-25">
                                        {{'CUSTOMERFORM_LABEL_NEWSLETTER' | translate}}:
                                    </div>
                                    <div class="col col-75">
                                        <input type="checkbox" id="newsletter" name="newsletter"
                                               ng-model="data.newsletter" value="">
                                        <label for="newsletter">{{'CUSTOMERFORM_LABEL_NEWSLETTER_TEXT' |
                                            translate}}</label>
                                    </div>
                                </div>
                            </ion-scroll>
                            <div class="row">
                                <div class="col col-75"></div>
                                <div class="col col-25">
                                    <button class="button button-positive right submit" ng-click="submitLead()">
                                        {{'CUSTOMERFORM_BUTTON_SUBMIT' | translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row footerBar">
                <div class="col home">
                    <button class="button button-default" ng-click="goToHomePage()">
                        <icon class="ion-ios-home"></icon>
                        {{'GLOBAL_BUTTON_HOME' | translate}}
                    </button>
                </div>
                <div class="col info">
                    {{ui.campaign.label}} - {{ui.brand.toUpperCase()}} - {{ui.person.name}} {{ui.person.surname}}
                </div>
                <div class="col version">
                    {{'GLOBAL_APP_VERSION' | translate}}: {{appVersion}}
                </div>
            </div>

            <div id="popup_dealerSearch" class="info-popup">
                <div class="row">
                    <div class="col">
                        <span class="icon ion-trash-a delete" ng-click="removeDealer();"></span>
                    </div>
                    <div class="col">
                        <h3>Händlersuche</h3>
                    </div>
                    <div class="col">
                        <span class="icon ion-close-circled close" onclick="$('#popup_dealerSearch').removeClass('active');"> </span>
                    </div>
                </div>

                <div class="dealerSearch-inputs">
                    <div class="row">
                        <div class="col col-33">
                            <label>{{'CUSTOMERFORM_LABEL_SEARCHDEALER_NAME'|translate}}</label>
                            <input type="text" class="dealerSearch-name custom-input" ng-model="ui.dealerSearch.name">
                        </div>

                        <div class="col col-33">
                            <label>{{'CUSTOMERFORM_LABEL_SEARCHDEALER_CITY'|translate}}</label>
                            <input type="text" class="dealerSearch-name custom-input" ng-model="ui.dealerSearch.city">
                        </div>
                        <div class="col col-33">
                            <label>{{'CUSTOMERFORM_LABEL_SEARCHDEALER_ZIP'|translate}}</label>
                            <input type="text" class="dealerSearch-name custom-input" ng-model="ui.dealerSearch.zip">
                        </div>
                    </div>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th class="table-icon"></th>
                        <th class="table-name">{{'CUSTOMERFORM_LABEL_SEARCHDEALER_NAME'|translate}}</th>
                        <th class="table-city">{{'CUSTOMERFORM_LABEL_SEARCHDEALER_CITY'|translate}}</th>
                        <th class="table-zip">{{'CUSTOMERFORM_LABEL_SEARCHDEALER_ZIP'|translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in ui.dealerList | filter: ui.dealerSearch.name | filter: ui.dealerSearch.city | filter: ui.dealerSearch.zip | limitTo:7 | orderBy:'dealername'"
                        ng-click="selectDealer(item);">
                        <td class="table-icon">
                            <span class="icon ion-plus-round"></span>
                        </td>
                        <td class="table-name">{{item.dealername}}</td>
                        <td class="table-city">{{item.city}}</td>
                        <td class="table-zip">{{item.zip}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="popup_leadsend_success" class="info-popup success">
                <p class="popup-text">{{'CUSTOMERFORM_POPUP_SUCCESS'|translate}}</p>
            </div>

            <div id="popup_leadsend_error" class="info-popup error">
                <p class="popup-text">{{'CUSTOMERFORM_POPUP_ERROR'|translate}}</p>
            </div>

            <div id="popup_validation_error" class="info-popup error">
                <p class="popup-text">{{'GLOBAL_VALIDATION_ERROR'|translate}}</p>
            </div>

            <div id="popup_agb" class="info-popup error agb">
                <h1>{{'CUSTOMERFORM_POPUP_AGB_TITLE'|translate}}</h1>
                <p class="popup-text" ng-show="data.countryCode == 'ch'">{{'CUSTOMERFORM_POPUP_AGB_TEXT'|translate}}</p>
                <p class="popup-text" ng-show="ui.brand == 'vw' && data.countryCode != 'ch'">{{'CUSTOMERFORM_POPUP_AGB_TEXT_FOREIGN_VW'|translate}}</p>
                <p class="popup-text" ng-show="ui.brand == 'vwnf' && data.countryCode != 'ch'">{{'CUSTOMERFORM_POPUP_AGB_TEXT_FOREIGN_VWNF'|translate}}</p>
                <p class="popup-text" ng-show="ui.brand == 'audi' && data.countryCode != 'ch'">{{'CUSTOMERFORM_POPUP_AGB_TEXT_FOREIGN_AUDI'|translate}}</p>
                <p class="popup-text" ng-show="ui.brand == 'seat' && data.countryCode != 'ch'">{{'CUSTOMERFORM_POPUP_AGB_TEXT_FOREIGN_SEAT'|translate}}</p>
                <p class="popup-text" ng-show="ui.brand == 'skoda' && data.countryCode != 'ch'">{{'CUSTOMERFORM_POPUP_AGB_TEXT_FOREIGN_SKODA'|translate}}</p>
                <button class="ui secondary button" onclick="$('#popup_agb').removeClass('active');">
                    OK
                </button>
            </div>

        </div>

    </ion-content>
</ion-view>