select-language .row{
    width: 400px;
}

select-language .row .col{
    width: 85px;
}


select-language .row .col .item{
    width: 85px;
    height: 40px;
}

select-language .row .col .item-radio{
    border-radius: 10px;
}

select-language .row .col .item-radio .radio-content{
    margin-top: -8px;
}

select-language .row .col .item-radio .radio-content .radio-icon{
    margin-top: -13px;
    margin-right: -2px;
    color: #00a300;
    font-size: 26px;
}