<ion-list>
    <div class="row">
        <div class="col">
            <ion-radio ng-model="selectedLanguage" ng-value="'de'">DE</ion-radio>
        </div>
        <div class="col">
            <ion-radio ng-model="selectedLanguage" ng-value="'fr'">FR</ion-radio>
        </div>
        <div class="col">
            <ion-radio ng-model="selectedLanguage" ng-value="'it'">IT</ion-radio>
        </div>
       <!-- <div class="col">
            <ion-radio ng-model="selectedLanguage" ng-value="'en'">EN</ion-radio>
        </div>-->
    </div>
</ion-list>