<ion-view view-title="SelectModel">
    <ion-content class="padding" scroll="false">

        <div class="selectModelView">
            <div class="row">
                <div class="col">
                    <button class="button button-assertive buttonClearSelects" ng-click="reset()">
                        <icon class="ion-ios-close"></icon>
                        {{'SELECTMODEL_BUTTON_RESET' | translate}}
                    </button>
                </div>
                <div class="col title">
                    <h1>
                        {{'SELECTMODEL_TITLE' | translate}}
                    </h1>
                </div>
                <div class="col">
                    <button class="button button-balanced buttonNext" ng-click="goToCountrySelect()">
                        {{'GLOBAL_BUTTON_NEXT' | translate}}
                        <icon class="ion-ios-arrow-forward"></icon>
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col selectLeadType">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ng-click="selectOrderOption($event, 'testdrive')">
                            <icon class="icon ion-checkmark-round hidden"></icon>
                            {{'SELECTMODEL_CHECKFIELD_TESTDRIVE' | translate}}
                        </button>
                        <button type="button" class="btn btn-default" ng-click="selectOrderOption($event, 'catalog')">
                            <icon class="icon ion-checkmark-round hidden"></icon>
                            {{'SELECTMODEL_CHECKFIELD_CATALOG' | translate}}
                        </button>
                        <button type="button" class="btn btn-default" ng-click="selectOrderOption($event, 'offer')" ng-show="ui.person.dealer != undefined && ui.person.dealer != 0">
                            <icon class="icon ion-checkmark-round hidden"></icon>
                            {{'SELECTMODEL_CHECKFIELD_OFFER' | translate}}
                        </button>
                    </div>
                </div>
            </div>


            <div class="row scrollTitle">
                <div class="col">
                    <span>{{'SELECTMODEL_LABEL_MODEL' | translate}}</span>
                </div>
                <div class="col">
                    <span>{{'SELECTMODEL_LABEL_CATALOG' | translate}}</span>
                </div>
            </div>

            <div class="row">
                <ion-scroll zooming="false" direction="y" style="width: 49%; height: 400px; float:left;">
                    <div class="tableRow" ng-repeat="item in ui.carList[ui.brand]"
                         ng-click="toggleSelectCar($event, item)">
                        <icon class="icon ion-checkmark-round hidden"></icon>
                        <label>{{item.label_de}}</label>
                    </div>
                </ion-scroll>

                <div style="width: 2%"></div>

                <ion-scroll zooming="false" direction="y" style="width: 49%; height: 400px; float:right;">
                    <div class="tableRow" ng-repeat="item in ui.accessoryList[ui.brand]"
                         ng-click="toggleSelectAccessory($event, item)">
                        <icon class="icon ion-checkmark-round hidden"></icon>
                        <label>{{item.label_de}}</label>
                    </div>
                </ion-scroll>
            </div>

            <br>

            <div class="row">
                <div class="col home">
                    <button class="button button-default" ng-click="goToHomePage()">
                        <icon class="ion-ios-home"></icon>
                        {{'GLOBAL_BUTTON_HOME' | translate}}
                    </button>
                </div>
                <div class="col info">
                    {{ui.campaign.label}} - {{ui.brand.toUpperCase()}} - {{ui.person.name}} {{ui.person.surname}}
                </div>
                <div class="col version">
                    {{'GLOBAL_APP_VERSION' | translate}}: {{appVersion}}
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>