<ion-view view-title="SelectModel">
    <ion-content class="padding">
        <div class="selectModelView">
            <div class="row">
                <div class="col">
                    <button class="button button-positive buttonClearSelects">
                        Auswahl zurücksetzen
                    </button>
                </div>
                <div class="col">
                    <div></div>
                </div>
                <div class="col">
                    <div></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>