<ion-view view-title="Login">
    <ion-content class="padding" scroll="false">

        <div class="selectBrandContainer">
            <h1>{{'LOGIN_LABEL_SELECT_BRAND' | translate}}:</h1>

            <div class="selectBrand">
                <select-brand ng-model="data.user.brand"></select-brand>
            </div>
        </div>

        <div class="selectHostLanguageContainer">
            <h1>{{'LOGIN_LABEL_SELECT_LANGUAGE' | translate}}:</h1>

            <div class="selectHostLanguage">
                <select-language ng-model="data.user.language"></select-language>
            </div>
        </div>

        <div class="selectCampaignContainer">
            <h1>{{'LOGIN_LABEL_SELECT_CAMPAIGN' | translate}}:</h1>

            <div class="selectCampaign">
                <select-item sl-label="{{'LOGIN_PLACEHOLDER_SELECT_CAMPAIGN'|translate}}" ng-model="data.user.campaign" select-list="ui.campaignList"></select-item>
            </div>
        </div>

        <div class="selectUserContainer">
            <h1>{{'LOGIN_LABEL_SELECT_PERSON' | translate}}:</h1>

            <div class="selectUser">
                <select-user ng-model="data.user.person" select-list="ui.personList"></select-user>
                <!-- <ion-select label="Placa do Veículo" label-field="nmPlaca" provider="veiculos"  ng-model="veiculo"/>-->
            </div>
        </div>

        <div class="loginButton">
            <button class="button button-balanced" ng-click="login();">
                {{'LOGIN_BUTTON_LOGIN' | translate}}
                <icon class="ion-ios-arrow-forward"></icon>
            </button>
        </div>

        <div class="refreshButton" style="float:left;">
            <button class="button button-stable" ng-click="reloadData()">
                <icon style="font-size: 20px" class="ion-ios-loop-strong"></icon>
                {{'LOGIN_BUTTON_REFRESH_DATA' | translate}}
            </button>
        </div>

        <div class="resendLeadsButton" style="float:left;">
            <button class="button button-assertive" ng-click="resendLead()">
                <icon style="font-size: 20px" class="ion-paper-airplane"></icon>
                <!--TODO Number of failed Leads-->
                10 {{'LOGIN_BUTTON_RESEND_LEADS' | translate}}
            </button>
        </div>

        <!--TODO-->
        <div class="versionInfo" style="float:right;">
            <p>{{'GLOBAL_APP_VERSION' | translate}}: {{appVersion}}</p>
            <p>{{'LOGIN_LABEL_MODEL_DATA_FROM' | translate}}: {{dateOfDataLoad.getDay()}}.{{dateOfDataLoad.getMonth()}}.{{dateOfDataLoad.getFullYear()}} {{dateOfDataLoad.getHours()}}:{{dateOfDataLoad.getMinutes()}}:{{dateOfDataLoad.getSeconds()}}</p>
        </div>

        <!--TODO Modelldaten, Popups, Lokale Kundendaten übertragen Button -->

    </ion-content>
</ion-view>